* {
  background: black;
}
body {
  margin: 0px auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 100%;
  position: fixed;
}

/* header left */
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left > img {
  width: 50%;
}
/* header right */
.header-right {
}
.menu ul {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr 3fr 3fr;
  justify-content: center;
  align-items: center;
}
.menu ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
}
.menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 150%;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid #a19277;
  background: rgb(26 25 25);
}
#contact-us {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
}

/*--------------
     body css 
---------------*/
#main-content {
  padding-top: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 5fr 5fr 4fr 3fr 2fr;
  grid-gap: 1px;
  color: white;
  margin-top: 10px;
  border: 2px solid #a19277;
  border-radius: 5px;
  width: 85%;
}
.content h1 {
  font-size: 150%;
}
.content p {
  font-size: 70%;
}
.gmail-description {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content > *,
.content-item > * {
  background: rgb(26 25 25);
}

.quantity {
  background: rgb(26 25 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity-heading {
  margin: 0px;
}
.select-gmail-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.minus {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  background: rgb(26 25 25);
  border: 2px solid white;

  cursor: pointer;
  user-select: none;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
.gmail-quantity {
  display: grid;
  grid-template-columns: 1fr;
  background: white;
  color: black;
  text-align: center;
  align-items: center;
  font-size: 200%;
  font-weight: 900;

  user-select: none;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
.plus {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  background: rgb(26 25 25);
  border: 2px solid white;

  cursor: pointer;
  user-select: none;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

.price {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.price > h1 {
  margin: 0px;
}
.dollar-sign {
  display: grid;
  justify-content: right;
}
.amount {
  display: grid;
  grid-template-columns: 1fr;
}
.add-to-cart {
  background: #f57224;
  color: #fff;
  padding: 2% 4%;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.buy a {
  text-decoration: none;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

/* responsive */
/* small device */

/* large device 1024pixel */
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-left > img {
    height: 40px;
  }
  .header-right {
    font-size: 11px;
  }
  .menu > ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #main-content {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
  }
  .price {
    display: flex;
    flex-direction: row;
  }
  .header-left > img {
    width: 100%;
  }
  .menu > ul > li > a {
    font-size: 170%;
  }
  .content h1,
  .gmail-quantity {
    font-size: 130%;
  }
  /* #long-title {
    font-size: 80%;
  } */
  .content p {
    font-size: 80%;
  }
}

/* mobile phone  */
@media screen and (max-width: 640px) {
  .menu > ul > li > a {
    font-size: 80%;
  }
}
@media screen and (max-width: 280px) {
  .menu > ul > li > a {
    font-size: 40%;
  }
  #contact-us {
    font-size: 50%;
  }
}
