* {
  background: black;
}
body {
  margin: 0px auto;
}
.header {
  display: grid;
  grid-template-columns: 1fr 9fr;
  background: black;
}

/* header left */
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left img {
  height: 60%;
}
/* header right */
.header-right {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu ul li {
  display: inline-block;
  padding: 5px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
}
.menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 35px;
  width: 120px;
  text-decoration: none;
  font-size: 150%;
  color: white;
  border: 2px solid #8f8d89;
  border-radius: 3px;
}
#contact-us {
  width: 150px;
}

/*--------------
     body css 
---------------*/

.content {
  display: grid;
  grid-template-columns: 4fr 3fr 4fr 4fr 2fr;
  align-items: center;
  justify-content: end;
  background: rgb(26 25 25);
  color: white;
  margin: 15px 0px 15px 0px;
  border: 2px solid #a19277;
  border-radius: 5px;
}
.content h1,
p {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
  background: rgb(26 25 25);
}

.buy a {
  text-decoration: none;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

/* responsive */
/* small device */

@media screen and (max-width: 896px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-left {
    display: none;
  }
  .menu ul {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu ul li {
    font-size: 70%;
    display: flex;
    justify-content: left;
    background: none;
  }

  .menu ul li a {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 125px;
    background: black;
    border: 2px solid #8f8d89;
    border-radius: 3px;
  }
  /* ---------------------------
  container responsive css
  ------------------------------- */
  .content {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 2fr;
  }
  .content h1,
  p {
    justify-content: left;
    font-size: 130%;
  }
  .gmail-description {
    display: none;
  }
}
/* small device */

@media screen and (max-width: 640px) {
  .menu ul {
    grid-template-columns: 1fr 1fr;
  }
  #contact-us {
    width: 125px;
  }
  /* ---------------------------
  container responsive css
  ------------------------------- */
  .content {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 2fr;
  }
  .content h1,
  p {
    justify-content: left;
    font-size: 100%;
  }
  .gmail-description {
    display: none;
  }
}
